$r: 200px;
$R: 300px;
$halfr: $r * 0.5;
$delta: 20px;

$text-light: #bdb246;
$text-dark: #2e3f50;

$primary-color: #462521;
$primary-color-hover: #b8c480;

$secondary-color: #8a6552;
$secondary-color-hover: #9b7663;

$bg-color: #ffe0b5;
$bg-color-hover: #EACAA4;

$answer-valid: rgb(62, 255, 62);
$answer-invalid: rgba(255, 50, 50, 0.767);
